*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{  
    font-weight: 900;
    font-size: 2rem;
    padding: 2rem;
}

header, footer{
    font-family: "Roboto", sans-serif;
    background-color: #333;
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;
}

.navegacao > li{
    display: inline-block;
    margin-left: 1.5rem;
}

.minha-foto{
    margin: 2rem auto;
    margin-left: 45%;
}

.sobre-mim{
    padding-left: 1rem;
}

.sobre-mim > h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 6rem;
}

h2 + p {
    margin: 1rem 0 2rem 0;
    font-size: 1.1rem;
}

.contato{
    padding: 1rem;
    text-align: center;
    display: inline-block;
}

.contato li {
    display: inline;
    margin-left: 4rem;
}

.habilidades{
    margin: 0 0 4.5rem 1rem;
}

.habilidades ul{
    margin-left: 2rem;
}